*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

.grid{
   height: 100%;
   width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr  ;
    grid-template-columns:  1fr 1fr 1fr ;
    gap: 10px;
}
.box{
    background-color: black;
    color: white;
    border: 2px solid red;
    
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;
}
.footer{
     grid-column-start: 2;
    grid-column-end: 4; 
   
}
.as{
    grid-row-start: 2;
    grid-row-end:5 ; 
}
.si{
  
}
